In [1]:
from gssutils import *
from requests import Session
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import ExpiresAfter

scraper = Scraper('https://statswales.gov.wales/Catalogue/Local-Government/Finance/Council-Tax/Dwellings/chargeableemptyandsecondhomesbylocalauthority',
                  session=CacheControl(Session(),
                                       cache=FileCache('.cache'),
                                       heuristic=ExpiresAfter(days=7)))
scraper

WARNING:http://open.statswales.gov.wales/en-gb/discover/metadata?$filter=Dataset eq 'lgfs0001' does not look like a valid URI, trying to serialize this will break.
WARNING:http://open.statswales.gov.wales/en-gb/discover/datasetdimensions?$filter=Dataset eq 'lgfs0001' does not look like a valid URI, trying to serialize this will break.
WARNING:http://open.statswales.gov.wales/en-gb/discover/datasetdimensionitems?$filter=Dataset eq 'lgfs0001' does not look like a valid URI, trying to serialize this will break.

## Council tax dwellings

The Welsh Government conducts the council tax dwellings survey (CT1 form). Data are available on the number of dwellings eligible for the council tax in each local authority for the next financial year, analysed by council tax band, including the numbers of properties eligible for council tax discounts and exemptions.Data cover Wales for all years since 1996-97. Data for earlier years is available from the Knowledge and Analytical Services division of the Welsh Government for the former districts of Wales, which were re-organised on 1 April 1996. The survey has been conducted every October to December since 1993-94. Results are available in early January, approximately three months before the beginning of the reference financial year.

### Distributions

1. Items ([application/json](http://open.statswales.gov.wales/en-gb/discover/datasetdimensionitems?$filter=Dataset eq 'lgfs0001'))
1. Metadata ([application/json](http://open.statswales.gov.wales/en-gb/discover/metadata?$filter=Dataset eq 'lgfs0001'))
1. Dataset ([application/json](http://open.statswales.gov.wales/dataset/lgfs0001))
1. Dimensions ([application/json](http://open.statswales.gov.wales/en-gb/discover/datasetdimensions?$filter=Dataset eq 'lgfs0001'))

In [2]:
if len(scraper.distributions) == 0:
    from gssutils.metadata import Distribution
    dist = Distribution(scraper)
    dist.title = 'Dataset'
    dist.downloadURL = 'http://open.statswales.gov.wales/dataset/LGFS0001'
    dist.mediaType = 'application/json'
    scraper.distributions.append(dist)
table = scraper.distribution(title='Dataset').as_pandas()
table

,Authority_AltCode1,Authority_Code,Authority_Hierarchy,Authority_ItemName_ENG,Authority_SortOrder,Band_Code,Band_Hierarchy,Band_ItemName_ENG,Band_SortOrder,Data,PartitionKey,RowKey,Row_Code,Row_ItemName_ENG,Row_ItemNotes_ENG,Row_SortOrder,Year_Code,Year_ItemName_ENG,Year_ItemNotes_ENG,Year_SortOrder
0,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,0.000,,0,B2b,B2b - Dwellings with a 50% discount (excluding...,,6,201819,2018-19,,201819
1,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,0.000,,1,B3,B3 - Dwellings with a discount of 50%,Dwellings subject to a discount equal to twice...,8,201213,2012-13,,201213
2,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,0.000,,2,B3a,B3a - Dwellings with a discount other than 25%...,The number of dwellings receiving discounts ot...,9,201112,2011-12,,201112
3,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,0.000,,3,B3a,B3a - Dwellings with a discount other than 25%...,The number of dwellings receiving discounts ot...,9,201617,2016-17,,201617
4,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,0.000,,4,B3a,B3a - Dwellings with a discount other than 25%...,The number of dwellings receiving discounts ot...,9,201819,2018-19,,201819
5,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,0.000,,5,B5,B5 - Total variable discounts,The total number of variable discounts given.,13,201213,2012-13,,201213
6,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,0.000,,6,B5,B5 - Total variable discounts,The total number of variable discounts given.,13,201920,2019-20,,201920
7,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,3.890,,7,C4,C4 - Total discounted band D equivalent dwellings,The total discounted band D equivalent dwellin...,18,200708,2007-08,,200708
8,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,4.000,,8,B1,B1 - Dwellings with no discounts,The number of dwellings receiving no discounts...,4,200708,2007-08,,200708
9,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,4.580,,9,C4,C4 - Total discounted band D equivalent dwellings,The total discounted band D equivalent dwellin...,18,200910,2009-10,,200910
10,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,5.000,,10,B2,B2 - Dwellings with a discount of 25%,The number of dwellings receiving one discount...,7,201011,2010-11,,201011
11,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,6.000,,11,B1,B1 - Dwellings with no discounts,The number of dwellings receiving no discounts...,4,200405,2004-05,,200405
12,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,6.000,,12,B2,B2 - Dwellings with a discount of 25%,The number of dwellings receiving one discount...,7,200102,2001-02,,200102
13,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,6.000,,13,B2,B2 - Dwellings with a discount of 25%,The number of dwellings receiving one discount...,7,201213,2012-13,,201213
14,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,6.670,,14,C4,C4 - Total discounted band D equivalent dwellings,The total discounted band D equivalent dwellin...,18,200203,2002-03,,200203
15,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,7.000,,15,B2,B2 - Dwellings with a discount of 25%,The number of dwellings receiving one discount...,7,200304,2003-04,,200304
16,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,7.000,,16,C2,C2 - Total discounted dwellings,The total discounted dwellings is calculated b...,16,200708,2007-08,,200708
17,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,7.920,,17,C4,C4 - Total discounted band D equivalent dwellings,The total discounted band D equivalent dwellin...,18,201920,2019-20,,201920
18,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,8.000,,18,B2,B2 - Dwellings with a discount of 25%,The number of dwellings receiving one discount...,7,201516,2015-16,,201516
19,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,8.000,,19,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,200708,2007-08,,200708
20,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,8.060,,20,C4,C4 - Total discounted band D equivalent dwellings,The total discounted band D equivalent dwellin...,18,201314,2013-14,,201314
21,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,8.330,,21,C4,C4 - Total discounted band D equivalent dwellings,The total discounted band D equivalent dwellin...,18,201516,2015-16,,201516
22,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,8.750,,22,C2,C2 - Total discounted dwellings,The total discounted dwellings is calculated b...,16,201011,2010-11,,201011
23,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,9.000,,23,A3,A3 - Adjusted chargeable dwellings,A dwelling in bands B to H which is subject to...,3,200506,2005-06,In 2005-06 the council tax bands in Wales were...,200506
24,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,9.000,,24,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,200506,2005-06,In 2005-06 the council tax bands in Wales were...,200506
25,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,10.000,,25,B1,B1 - Dwellings with no discounts,The number of dwellings receiving no discounts...,4,201617,2016-17,,201617
26,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,10.000,,26,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,200910,2009-10,,200910
27,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,11.250,,27,C2,C2 - Total discounted dwellings,The total discounted dwellings is calculated b...,16,200405,2004-05,,200405
28,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,13.000,,28,C5,C5 - Total discounted dwellings excluding prem...,,19,201819,2018-19,,201819
29,W06000001,512,596,Isle of Anglesey,1,1,11,A-,1,14.000,,29,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,200203,2002-03,,200203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92460,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1146239.000,,92460,E6,E6 - Council taxbase for RSG purposes,100% council tax base for calculating revenue ...,35,200607,2006-07,,200607
92461,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1155149.370,,92461,E3,E3 - E1x E2,Discounted chargeable dwellings: band D equiva...,31,201112,2011-12,,201112
92462,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1157948.740,,92462,E6,E6 - Council taxbase for RSG purposes,100% council tax base for calculating revenue ...,35,200708,2007-08,,200708
92463,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1173333.180,,92463,E5,E5 - Tax setting taxbase,Council tax base for tax-setting purposes (=E3).,33,201415,2014-15,,201415
92464,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1177333.550,,92464,C4,C4 - Total discounted band D equivalent dwellings,The total discounted band D equivalent dwellin...,18,201011,2010-11,,201011
92465,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1190642.660,,92465,E1,E1 - Total band D equivalent dwellings,Total discounted chargeable dwellings: band D ...,29,201213,2012-13,,201213
92466,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1196426.650,,92466,E1,E1 - Total band D equivalent dwellings,Total discounted chargeable dwellings: band D ...,29,201314,2013-14,,201314
92467,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1201230.950,,92467,E1,E1 - Total band D equivalent dwellings,Total discounted chargeable dwellings: band D ...,29,201415,2014-15,,201415
92468,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1206276.000,,92468,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,199798,1997-98,,199798
92469,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1209577.000,,92469,C4,C4 - Total discounted band D equivalent dwellings,The total discounted band D equivalent dwellin...,18,201516,2015-16,,201516
92470,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1214446.000,,92470,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,199899,1998-99,,199899
92471,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1221913.000,,92471,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,199900,1999-00,,199900
92472,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1228694.770,,92472,E6,E6 - Council taxbase for RSG purposes,100% council tax base for calculating revenue ...,35,201718,2017-18,,201718
92473,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1233371.010,,92473,E6,E6 - Council taxbase for RSG purposes,100% council tax base for calculating revenue ...,35,201819,2018-19,,201819
92474,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1234784.000,,92474,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,200001,2000-01,,200001
92475,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1245932.980,,92475,A3,A3 - Adjusted chargeable dwellings,A dwelling in bands B to H which is subject to...,3,200102,2001-02,,200102
92476,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1253126.100,,92476,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,200203,2002-03,,200203
92477,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1275016.600,,92477,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,200405,2004-05,,200405
92478,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1279493.820,,92478,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,200506,2005-06,In 2005-06 the council tax bands in Wales were...,200506
92479,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1308620.130,,92479,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,200809,2008-09,,200809
92480,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1312824.640,,92480,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,200910,2009-10,,200910
92481,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1327012.340,,92481,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,201112,2011-12,,201112
92482,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1338304.360,,92482,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,201314,2013-14,,201314
92483,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1343031.332,,92483,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,201415,2014-15,,201415
92484,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1350942.946,,92484,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,201516,2015-16,,201516
92485,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1358979.960,,92485,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,201617,2016-17,,201617
92486,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1369945.756,,92486,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,201718,2017-18,,201718
92487,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1375172.266,,92487,A1,A1 - All chargeable dwellings,This is not the number of dwellings in each ba...,1,201819,2018-19,,201819
92488,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1375172.436,,92488,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,201819,2018-19,,201819
92489,W92000004,596,600,Total Unitary Authorities,23,11,0,Total,11,1380570.771,,92489,B4,B4 - Total adjusted chargeable dwellings,Total adjusted chargeable dwellings (B1ݯ=A3). ...,12,201920,2019-20,,201920

In [3]:
table.columns

Index(['Authority_AltCode1', 'Authority_Code', 'Authority_Hierarchy',
       'Authority_ItemName_ENG', 'Authority_SortOrder', 'Band_Code',
       'Band_Hierarchy', 'Band_ItemName_ENG', 'Band_SortOrder', 'Data',
       'PartitionKey', 'RowKey', 'Row_Code', 'Row_ItemName_ENG',
       'Row_ItemNotes_ENG', 'Row_SortOrder', 'Year_Code', 'Year_ItemName_ENG',
       'Year_ItemNotes_ENG', 'Year_SortOrder'],
      dtype='object')

In [4]:
cols = {
    'Authority_AltCode1': 'Geography',
    'Data': 'Value',
    'Row_Code': 'Chargeable homes',
    'Year_Code': 'Period'
}
to_remove = set(table.columns) - set(cols.keys())
table.rename(columns=cols, inplace=True)
table.drop(columns=to_remove, inplace=True)
table

       Geography        Value Chargeable homes  Period
0      W06000001        0.000              B2b  201819
1      W06000001        0.000               B3  201213
2      W06000001        0.000              B3a  201112
3      W06000001        0.000              B3a  201617
4      W06000001        0.000              B3a  201819
5      W06000001        0.000               B5  201213
6      W06000001        0.000               B5  201920
7      W06000001        3.890               C4  200708
8      W06000001        4.000               B1  200708
9      W06000001        4.580               C4  200910
10     W06000001        5.000               B2  201011
11     W06000001        6.000               B1  200405
12     W06000001        6.000               B2  200102
13     W06000001        6.000               B2  201213
14     W06000001        6.670               C4  200203
15     W06000001        7.000               B2  200304
16     W06000001        7.000               C2  200708
17     W06000001        7.920               C4  201920
18     W06000001        8.000               B2  201516
19     W06000001        8.000               B4  200708
20     W06000001        8.060               C4  201314
21     W06000001        8.330               C4  201516
22     W06000001        8.750               C2  201011
23     W06000001        9.000               A3  200506
24     W06000001        9.000               B4  200506
25     W06000001       10.000               B1  201617
26     W06000001       10.000               B4  200910
27     W06000001       11.250               C2  200405
28     W06000001       13.000               C5  201819
29     W06000001       14.000               B4  200203
...          ...          ...              ...     ...
92460  W92000004  1146239.000               E6  200607
92461  W92000004  1155149.370               E3  201112
92462  W92000004  1157948.740               E6  200708
92463  W92000004  1173333.180               E5  201415
92464  W92000004  1177333.550               C4  201011
92465  W92000004  1190642.660               E1  201213
92466  W92000004  1196426.650               E1  201314
92467  W92000004  1201230.950               E1  201415
92468  W92000004  1206276.000               A1  199798
92469  W92000004  1209577.000               C4  201516
92470  W92000004  1214446.000               A1  199899
92471  W92000004  1221913.000               B4  199900
92472  W92000004  1228694.770               E6  201718
92473  W92000004  1233371.010               E6  201819
92474  W92000004  1234784.000               B4  200001
92475  W92000004  1245932.980               A3  200102
92476  W92000004  1253126.100               B4  200203
92477  W92000004  1275016.600               B4  200405
92478  W92000004  1279493.820               A1  200506
92479  W92000004  1308620.130               A1  200809
92480  W92000004  1312824.640               A1  200910
92481  W92000004  1327012.340               A1  201112
92482  W92000004  1338304.360               A1  201314
92483  W92000004  1343031.332               A1  201415
92484  W92000004  1350942.946               A1  201516
92485  W92000004  1358979.960               B4  201617
92486  W92000004  1369945.756               B4  201718
92487  W92000004  1375172.266               A1  201819
92488  W92000004  1375172.436               B4  201819
92489  W92000004  1380570.771               B4  201920

[92490 rows x 4 columns]

In [5]:
table['Period'] = table['Period'].map(lambda x: f'gregorian-interval/{str(x)[:4]}-03-31T00:00:00/P1Y')
table['Measure Type'] = 'Count'
table['Unit'] = 'vacancies'

In [6]:
out = Path('out')
out.mkdir(exist_ok=True, parents=True)
table.drop_duplicates().to_csv(out / 'observations.csv', index = False)

In [7]:
schema = CSVWSchema('https://ons-opendata.github.io/ref_housing/')
schema.create(out / 'observations.csv', out / 'observations.csv-schema.json')

"Chargeable homes" not defined

In [8]:
from datetime import datetime
scraper.dataset.family = 'housing'
scraper.dataset.theme = THEME['housing-planning-local-services']
scraper.dataset.modified = datetime.now()
scraper.dataset.creator = scraper.dataset.publisher
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [9]:
table

,Geography,Value,Chargeable homes,Period,Measure Type,Unit
0,W06000001,0.000,B2b,gregorian-interval/2018-03-31T00:00:00/P1Y,Count,vacancies
1,W06000001,0.000,B3,gregorian-interval/2012-03-31T00:00:00/P1Y,Count,vacancies
2,W06000001,0.000,B3a,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
3,W06000001,0.000,B3a,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,vacancies
4,W06000001,0.000,B3a,gregorian-interval/2018-03-31T00:00:00/P1Y,Count,vacancies
5,W06000001,0.000,B5,gregorian-interval/2012-03-31T00:00:00/P1Y,Count,vacancies
6,W06000001,0.000,B5,gregorian-interval/2019-03-31T00:00:00/P1Y,Count,vacancies
7,W06000001,3.890,C4,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
8,W06000001,4.000,B1,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
9,W06000001,4.580,C4,gregorian-interval/2009-03-31T00:00:00/P1Y,Count,vacancies
10,W06000001,5.000,B2,gregorian-interval/2010-03-31T00:00:00/P1Y,Count,vacancies
11,W06000001,6.000,B1,gregorian-interval/2004-03-31T00:00:00/P1Y,Count,vacancies
12,W06000001,6.000,B2,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,vacancies
13,W06000001,6.000,B2,gregorian-interval/2012-03-31T00:00:00/P1Y,Count,vacancies
14,W06000001,6.670,C4,gregorian-interval/2002-03-31T00:00:00/P1Y,Count,vacancies
15,W06000001,7.000,B2,gregorian-interval/2003-03-31T00:00:00/P1Y,Count,vacancies
16,W06000001,7.000,C2,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
17,W06000001,7.920,C4,gregorian-interval/2019-03-31T00:00:00/P1Y,Count,vacancies
18,W06000001,8.000,B2,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,vacancies
19,W06000001,8.000,B4,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
20,W06000001,8.060,C4,gregorian-interval/2013-03-31T00:00:00/P1Y,Count,vacancies
21,W06000001,8.330,C4,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,vacancies
22,W06000001,8.750,C2,gregorian-interval/2010-03-31T00:00:00/P1Y,Count,vacancies
23,W06000001,9.000,A3,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
24,W06000001,9.000,B4,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
25,W06000001,10.000,B1,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,vacancies
26,W06000001,10.000,B4,gregorian-interval/2009-03-31T00:00:00/P1Y,Count,vacancies
27,W06000001,11.250,C2,gregorian-interval/2004-03-31T00:00:00/P1Y,Count,vacancies
28,W06000001,13.000,C5,gregorian-interval/2018-03-31T00:00:00/P1Y,Count,vacancies
29,W06000001,14.000,B4,gregorian-interval/2002-03-31T00:00:00/P1Y,Count,vacancies
...,...,...,...,...,...,...
92460,W92000004,1146239.000,E6,gregorian-interval/2006-03-31T00:00:00/P1Y,Count,vacancies
92461,W92000004,1155149.370,E3,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
92462,W92000004,1157948.740,E6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
92463,W92000004,1173333.180,E5,gregorian-interval/2014-03-31T00:00:00/P1Y,Count,vacancies
92464,W92000004,1177333.550,C4,gregorian-interval/2010-03-31T00:00:00/P1Y,Count,vacancies
92465,W92000004,1190642.660,E1,gregorian-interval/2012-03-31T00:00:00/P1Y,Count,vacancies
92466,W92000004,1196426.650,E1,gregorian-interval/2013-03-31T00:00:00/P1Y,Count,vacancies
92467,W92000004,1201230.950,E1,gregorian-interval/2014-03-31T00:00:00/P1Y,Count,vacancies
92468,W92000004,1206276.000,A1,gregorian-interval/1997-03-31T00:00:00/P1Y,Count,vacancies
92469,W92000004,1209577.000,C4,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,vacancies
92470,W92000004,1214446.000,A1,gregorian-interval/1998-03-31T00:00:00/P1Y,Count,vacancies
92471,W92000004,1221913.000,B4,gregorian-interval/1999-03-31T00:00:00/P1Y,Count,vacancies
92472,W92000004,1228694.770,E6,gregorian-interval/2017-03-31T00:00:00/P1Y,Count,vacancies
92473,W92000004,1233371.010,E6,gregorian-interval/2018-03-31T00:00:00/P1Y,Count,vacancies
92474,W92000004,1234784.000,B4,gregorian-interval/2000-03-31T00:00:00/P1Y,Count,vacancies
92475,W92000004,1245932.980,A3,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,vacancies
92476,W92000004,1253126.100,B4,gregorian-interval/2002-03-31T00:00:00/P1Y,Count,vacancies
92477,W92000004,1275016.600,B4,gregorian-interval/2004-03-31T00:00:00/P1Y,Count,vacancies
92478,W92000004,1279493.820,A1,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
92479,W92000004,1308620.130,A1,gregorian-interval/2008-03-31T00:00:00/P1Y,Count,vacancies
92480,W92000004,1312824.640,A1,gregorian-interval/2009-03-31T00:00:00/P1Y,Count,vacancies
92481,W92000004,1327012.340,A1,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
92482,W92000004,1338304.360,A1,gregorian-interval/2013-03-31T00:00:00/P1Y,Count,vacancies
92483,W92000004,1343031.332,A1,gregorian-interval/2014-03-31T00:00:00/P1Y,Count,vacancies
92484,W92000004,1350942.946,A1,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,vacancies
92485,W92000004,1358979.960,B4,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,vacancies
92486,W92000004,1369945.756,B4,gregorian-interval/2017-03-31T00:00:00/P1Y,Count,vacancies
92487,W92000004,1375172.266,A1,gregorian-interval/2018-03-31T00:00:00/P1Y,Count,vacancies
92488,W92000004,1375172.436,B4,gregorian-interval/2018-03-31T00:00:00/P1Y,Count,vacancies
92489,W92000004,1380570.771,B4,gregorian-interval/2019-03-31T00:00:00/P1Y,Count,vacancies